<div class="container">

    <div class="header">

        <h1>New Product</h1>
        <div class="spacer"></div>
        <button mat-raised-button type="button" class="add-product"
            (click)="backToStock()"><mat-icon>arrow_back</mat-icon>
            Back</button>



    </div>

    <div class="form">

        <form class="example-form" [formGroup]="productForm" (ngSubmit)="addProduct()">
            <div class="form-field">
                <label for="product-type">
                    Lloji*
                </label>
                <input type="text" id="product-type" formControlName="type" required />
            </div>

            <div class="form-field">
                <label for="product-quantity">
                    Sasia*
                </label>
                <input type="text" id="product-quantity" formControlName="quantity" required>
            </div>

            <div class="form-field">
                <label for="product-price">
                    Qmimi
                </label>
                <input type="text" id="product-price" formControlName="price">
            </div>

            <button mat-button [disabled]="!productForm.valid" type="submit" class="button">Add Product</button>

        </form>

    </div>
