.container {
    height: calc(100vh - 150px);
    padding-bottom: 20px;
    overflow: scroll;

}

.header {
    background-color: #3f51b5;
    display: flex;
    flex-direction: row;
}

.spacer {
    flex: 1 1 auto;
}

.header button {
    margin: 13px;
}

h1 {
    margin: 13px;

    color: white;

}

.table-responsive {


    overflow: scroll;
}

table {
    overflow: scroll;
    width: 80%;
    table-layout: fixed;
    margin: 0 auto
}

th,
td {
    padding: 8px;
    text-align: center;
}

th {
    color: #172B4D;
    font-weight: 500;
    border-bottom: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

.total {
    margin-right: 8.45em;
    display: flex;
    flex: auto;
    align-items: end;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 30px;


}

.debt input {
    width: 10%;
}

.debt {
    display: flex;
    flex-direction: row;
    margin-right: 102px;
    justify-content: end;
}
