h1 {
    color: white;
    padding: 10px;
}

.container {
    margin: 0 auto;
    margin-top: 3em;
    height: 70%;
    width: 40%;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

.header {
    background-color: #3f51b5;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.header button {
    margin: 7px 15px;
    opacity: 1;
    border: none;
}

.spacer {
    flex: 1 1 auto;
}



form {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.form-field {
    padding-right: 4em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 17px;
}

.form-field label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100px;
    max-width: 100px;
    margin-right: 20px;
}

.form-field input {
    width: 150%;
    height: 2em;
    padding: 10px;
    margin-left: 40px;
    font-size: 14px;
}


.button {
    margin-top: 3em;
    margin-left: 45px;
    width: 16.5em;
    height: 3em;
    color: white;
    background-color: #3f51b5;
}

button:disabled {
    background-color: #cccccc;
    border: 1px solid #999999;
    color: #666666;

}
